@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One');

body 
{
    background:#3f008c;
   /* background: url("img/background.png"); */
    margin:0;
    padding:100px;
    padding-top:100px;
    box-sizing:border-box;
}

.slot-machine
{
    color:white;
    margin:0 auto;
    background:#d61438;
    width:800px;
    height:800px;
    text-align:center;
    box-shadow: 0px 6px 3px 0px rgba(0,0,0,1);
    border:solid black 5px;
  ;
    /*padding: 0px 20px 0px 20px;*/
}

.led 
{
    margin:0 auto;
    padding-top:1px;
    padding-bottom:2px;
    width:100%;
    margin-bottom: 0px;
    
}

#title 
{
    font-family:Permanent Marker;
    font-size:100px;
    margin-bottom:20px;
    margin-top:0px;
    background:#d61438;
    padding-top:20px;
    padding-bottom:0px;
    text-shadow: 0px 7px 2px rgba(0, 0, 0, 0.7);  
}

.slot-container 
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:.01em; 
    padding: 30px 0px 30px 0px;
    margin-bottom:30px;
    border-top: solid rgba(0, 0, 0, 0.4) 15px;
    border-bottom: solid black 5px;
    background:rgb(46, 19, 45);
    

}

.display 
{
    margin-bottom: 40px;
   
}

#result {
    margin:0 auto;
    font-family:Bolby One;
    background:rgb(37, 37, 37);
    height:50px;
    width:50%;
    border: solid #000 5px;
    padding:0px;
    box-sizing:border-box;
    font-weight:100;
}

.reels 
{
    background:#fff;
    background-size:cover;
    background-position-y: -5px;
    width:99.25%;
    height: 180px;
    overflow: hidden;
    padding-top:30px;
    border:solid grey 1px;
    margin-top:20px;
    margin-bottom:20px;
    
}

.reels img 
{
   width:60%;
   position: relative;
   
   
}


@keyframes flickerAnimation 
{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.blur
{
-webkit-animation: flickerAnimation .5s infinite;
-moz-animation: flickerAnimation .5s infinite;
-o-animation: flickerAnimation .5s infinite;
animation: flickerAnimation .05s infinite;
filter: blur(2px);
-webkit-filter: blur(2px);
}

.shake
{
  animation: shake 0.2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(0, 0px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, 10px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -16px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 0px, 0);
  }
}

.top
{
  animation: top .1s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
  position: relative;
}

@keyframes top {
  10%, 90% {
    transform: translate3d(0, 0px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, 100px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -100px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 0px, 0);
  }
}

.top2
{
  animation: top2 .12s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
  position: relative;
}

@keyframes top2 {
  10%, 90% {
    transform: translate3d(0, 0px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, 100px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -100px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 0px, 0);
  }
}

.top3
{
  animation: top3 .13s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
  position: relative;
}

@keyframes top3 {
  10%, 90% {
    transform: translate3d(0, 0px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, 100px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -100px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 0px, 0);
  }
}


.button 
{
    margin:0 auto;
    width:90%;
    text-align: left;
}


button 
{
    background:#fff;
    color:#000;
    padding:2px;
    width:200px;
    outline:none;
    border:none;
    font-size:30px;
    box-shadow: 0px 4px 1px 0px rgba(0,0,0,0.75);
    font-family:Permanent Marker;
    float:left;
    margin-right:80px;
    text-shadow: 0px 0px 7px #fff;
    margin-top:4px;
}



#span 
{
    text-align: center;
    width:190px;
    float:left;
    padding:2px;
    padding-top:0px;
    padding-bottom:3px;
    font-family: Permanent Marker;
    text-shadow: 0px 7px 2px rgba(0, 0, 0, 0.7);  
    font-size:45px;
}

button:active 
{
    background:#000000;
    color:#fff;
}

#credits 
{
    font-family:Bolby One;
    background:rgb(37, 37, 37);
    float:right;
    text-align:right;
    color:#fff;
    /*text-shadow: 0px 0px 12px #fff; */
    font-size:35px;
    margin-top:4px;
    width:200px;
    padding-right:9px;
    border: solid black 5px;
}

footer {
  text-align:center;
  font-family:Permanent Marker;
  color:white;
  font-size:24px;
}

footer p 
{
  margin-bottom:40px;
}

.icons 
{
  font-family:Arial;
  font-size:20px;
  margin: 0 auto;
}

.icons p
{
  font-size:15px;
}

.icons div
{
  display:inline-block;
  text-align:center;
  padding:30px;
}



.github a i 
{
  font-size:45px;
  cursor:pointer;
  transition:.2s ease;
  color:white;
}

.github a i:hover
{
  transform: scale(1.3);
}

.slots-two a  i 
{
  font-size:45px;
  cursor:pointer;
  transition:.2s ease;
  color:white;
}

.slots-two a i:hover
{
  transform: scale(1.3);
}
.github > h5
{
  font-size:10px;
}


@media only screen and (max-width: 970px) 
{
    *{
        padding:0px;
      margin:0px;
    }
    body {
      padding:0px;
      margin:0 auto;    
      
  }
.slot-machine 
{
width:100%;
height:1100px;

}
#title 
{
 font-size:11vw;
 padding-top:0px;
 }
 .reels 
 {
 height: 180px;
 }
 .button 
 {
 display:block;
 margin:0 auto;
 text-align: center;
 height: 400px;
 width: 90%;  
 box-sizing: border-box;     
}
button 
{
margin:0px;
padding:0px;
float:none;
width: 50%;
margin-bottom:30px
}
#span 
{
margin:0px;
padding:0px;
float:none;
width:100%;
display: block;
margin-bottom:20px;  
}
#credits 
{
margin:0 auto;
padding:0px;
float:none;
width:50%;
text-align: center;
display: block; 
}
 
}

@media only screen and (max-width: 600px) 
{
    *{
        padding:0px;
        margin:0px;
    }
    body {
      padding:0px;
      margin:0 auto;
    }
    .slot-machine {
        width:100%;
        height: 100vh;
        overflow: hidden;
    }
    .reels {
        height: 120px;
    }
  #result {
    font-size:7vw;
  }
    
    .button {
        display:block;
        margin:0 auto;
        text-align: center;
        height: 400px;
        width: 90%;  
        box-sizing: border-box;     
    }
    button {
        margin:0 auto;
        padding:0px;
        float:none;
        width: 40%;
        font-size:6vw;
        margin:15px;
    }
    #span {
        margin:0 auto;
        padding:0px;
        float:none;
        width:100%;
        display: block;
        margin-bottom:20px;
        font-size:10vw;
       
    }
    #credits {
        margin:0 auto;
        padding:0px;
        float:none;
        width:50%;
        text-align: center;
        display: block;
        font-size:7vw;
    }

}

